// --------------------------------------------------------------------------
// Layout Styles

* {
  box-sizing: border-box;
}


// -------------------------------------
// Global

.app-container{
  display: flex;
  flex-flow: column;
  align-items: stretch;
  align-content: stretch;
  min-height: 99.9vh;
}



// -------------------------------------
// Header

.app-head{
  display: flex;
  min-height: 60px;
  flex-flow: row nowrap;
  background-color: #fff;
  border-bottom: 1px solid $border-grey;
}

.app-menu{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  .app-menu-list{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-toggle-wrapper{
    align-self: center;
    padding: 0 $general-padding;
  }

  a{
    @include transition(all 0.3s);

    svg{
      @include transition(all 0.3s ease-in-out);
    }

    &:hover svg{
      transform: rotate(90deg);
    }
  }
}

.article-header{
  padding: $general-padding;
  flex: 2;

  .current-article-title{
    font-size: rem-calc(16);
    color: $highlight-text-grey;
    margin: 0;
    padding: 0;

    @include breakpoint(small down){
      white-space: nowrap;
      width: 180px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .date-published{
    color: $inactive-text-grey;
  }
}

.search-box{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: stretch;
  flex: 1;
  padding-right: $general-padding;

  .search-wrapper{
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    min-height: 2.5rem;
    padding: 3px;
    border: 1px solid $border-grey;

    @include breakpoint(small down){
      border: none;
    }

    strong{
      flex: 1;
      min-width: 90px;
      height: 2.5rem;
      padding: 5px 0;
      text-align: center;
      font-size: rem-calc(14);
      background-color: $background-grey;

      @include breakpoint(small down){
        display: none;
      }
    }

    form{
      flex: 4;
      width: 100%;
    }

    @include breakpoint(medium only){
      flex: 2;
    }
  }

  .search-field-wrapper{
    position: relative;
    overflow: hidden;

    svg{
      position: absolute;
      top: rem-calc(7);
      right: rem-calc(5);
      @include transition(all 0.3s);

      @include breakpoint(small down){
        right: 0;
      }
    }

    input{
      width: 100%;
      height: 2.5rem;
      margin: 0;
      padding: 0.5rem 0.8rem 0.5rem 0.8rem;
      border: none;
      box-shadow: none;

      &:focus ~ svg{
        right: -30px;
      }

      @include breakpoint(small down){
        opacity: 0;
      }
    }
  }

  @include breakpoint(small down){
    flex: 1;
    padding-right: 0;
  }
}

.app-options-menu{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li{
      align-self: center;
      padding: 0 rem-calc(30);

      a{
        @include transition(all 0.3s);

        svg{
          @include transition(all 0.3s ease-in-out);
          transform: translate(0, 3px);
        }
      }

      @include breakpoint(small down){
        padding: 0;
      }
    }
  }

  @include breakpoint(small down){
    flex: 1;
  }
}



// -------------------------------------
// Content

.app-content{
  display: flex;
  flex-basis: 100%;
  flex: 1;
  flex-flow: row nowrap;
  align-content: stretch;
}



// -------------------------------------
// Left Column

.article-list{
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  border-right: 1px solid $border-grey;
  background-color: #fff;

  @include breakpoint(small down){
    display: none;
  }
}

.article-preview{
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid $border-grey;

  &.active, &:hover{
    .vote-amount{
      color: $body-text-grey;
    }

    .content{
      border-right: rem-calc(3) solid $main-accent;
    }

    .article-title a{
      color: $highlight-text-grey;
    }

    .source-url, .article-info .points-amount, .article-info .date-published{
      color: $body-text-grey;
    }
  }
}

.vote{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: $general-padding 0 $general-padding $general-padding;

  .up-vote, .down-vote{
    opacity: 0.5;

    svg{
      @include transition(all 0.1s ease-in);
    }
  }

  .up-vote{
    &:hover {
      opacity: 1;

      svg {
        transform: translate(0, -2px);
      }
    }
    &:active svg{
      transform: translate(0, -5px);
    }
  }

  .down-vote{
    &:hover{
      opacity: 1;

      svg{
        transform: translate(0, 2px);
      }
    }
    &:active svg{
      transform: translate(0, 5px);
    }
  }

  .vote-amount{
    font-size: rem-calc(16);
    color: $inactive-text-grey;
    text-align: center;
    transform: translate(0, -2px);
  }
}

.content{
  width: 100%;
  padding: $general-padding;
  border-right: rem-calc(3) solid #fff;
  @include transition(all 0.5s);

  .article-title{
    line-height: 1.5rem;
    font-size: rem-calc(14);
    margin-bottom: 0.2rem;

    a{
      color: $body-text-grey;

      &:hover{
        color: $main-accent;
      }
    }
  }

  .source-url{
    display: inline-block;
    margin-bottom: 0.2rem;
    font-weight: $fw-regular-italic;
    font-style: italic;
    color: $inactive-text-grey;
  }

  .article-info{
    .points-amount, .date-published{
      color: $inactive-text-grey;
    }

    .points-amount::after{
      content: '·';
      display: inline-block;
      padding: 0 rem-calc(5) 0 rem-calc(7);
    }
  }
}

.article-title, .source-url, .article-info .points-amount, .article-info .date-published, .up-vote, .down-vote, .vote-amount{
  @include transition(all 0.3s);
}

.refresh-action{
  display: flex;
  flex-flow: row nowrap;
  height: rem-calc(45);
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $border-grey;

  svg{
    @include transition(all 0.3s);
    fill: #707070;
    opacity: 0.3;
  }

  svg:hover{
    cursor: pointer;
    fill: $main-accent;
    opacity: 1;
  }

  svg:active{
    transform: rotate(365deg);
  }
}



// -------------------------------------
// Right Column

.discussions{
  display: flex;
  flex: 4;
  flex-flow: column;
  align-content: stretch;

  @include breakpoint(medium only){
    flex: 2;
  }
}

.discussions-tabs{
  min-height: rem-calc(42);
  background-color: #fff;
  border-bottom: 1px solid $border-grey;
  position: relative;

  ul{
    display: flex;
    flex-flow: row;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    padding: 0;
    min-height: rem-calc(42);
    list-style: none;

    li{
      a{
        display: block;
        text-align: center;
        padding: $general-padding;
        text-transform: uppercase;
        border-bottom: rem-calc(2) solid #fff;
        color: $body-text-grey;

        &:hover, &:active, &.active{
          color: $highlight-text-grey;
          border-color: $main-accent;
        }
      }

      @include breakpoint(small down){
        flex: 1;
      }
    }

    @include breakpoint(small down){
      justify-content: center;
      align-content: stretch;
    }
  }
}

.switch-wrapper{
  position: absolute;
  top: 50%;
  right: $general-padding;
  transform: translate(0, -40%);

  .track-thread-label{
    display: inline-block;
    margin-right: rem-calc(10);
    transform: translate(0, -6px);
    font-weight: $fw-bold;
  }

  input{
    position: absolute;
    top: -9000px;
    right: 0;
    margin: 0;

    &:checked ~ label{
      background-color: $main-accent;

      .switch-check{
        opacity: 1;
      }

      .switch-x{
        opacity: 0;
      }

      &::after{
        left: rem-calc(24);
      }
    }

    &:disabled ~ label{
      background-color: #cccccc;

      .switch-check{
        opacity: 0.5;
      }

      .switch-x{
        opacity: 0.5;
      }

      &::after{
        opacity: 0.7;
        left: rem-calc(3);
      }
    }
  }

  label{
    display: inline-block;
    position: relative;
    height: rem-calc(20);
    width: rem-calc(40);
    margin: 0;
    padding: 0;
    border-radius: rem-calc(22);
    box-shadow: inset 0 rem-calc(1) rem-calc(2) transparentize(#000, 0.7);
    background-color: #cdd2de;
    @include transition(all 0.4s);

    .switch-check{
      position: absolute;
      top: rem-calc(6);
      left: rem-calc(7);
      width: rem-calc(9);
      height: rem-calc(9);
      fill: #fff;
      opacity: 0;
      @include transition(opacity 0.4s);
    }

    .switch-x{
      position: absolute;
      top: rem-calc(7);
      right: rem-calc(7);
      width: rem-calc(8);
      height: rem-calc(8);
      fill: #fff;
      @include transition(opacity 0.4s);
    }

    &::after{
      content: '';
      position: absolute;
      top: rem-calc(4);
      left: rem-calc(3);
      height: rem-calc(13);
      width: rem-calc(13);
      background-color: #fff;
      border-radius: rem-calc(15);
      box-shadow: 0 rem-calc(1) rem-calc(2) transparentize(#000, 0.7);
      @include transition(all 0.3s);
    }
  }

  @include breakpoint(small down){
    display: none;
  }
}

.discussions-list{
  flex: 1;
  padding: rem-calc(20);
  background-color: $background-grey;

  & > .comment-wrapper{
    &:hover{
      .comment{
        box-shadow: 0 rem-calc(2) rem-calc(8) transparentize(#000, 0.7);
        border-color: lighten($main-accent, 25);
      }
    }
  }

  @include breakpoint(small down){
    padding: $general-padding;
  }
}

.comment-wrapper{
  padding-bottom: rem-calc(20);
  @include transition(all 0.5s);

  .comment-wrapper{
    padding: $general-padding 0 0 $general-padding;

    @include breakpoint(small down){
      padding: $general-padding 0 0 $general-padding;
    }
  }
}

.comment{
  position: relative;
  padding: $general-padding;
  background-color: #fff;
  border-left: rem-calc(4) solid #fff;
  box-shadow: 0 rem-calc(2) rem-calc(3) transparentize(#000, 0.8);
  @include transition(all 0.3s ease-in-out);

  .comment-head{
    margin-bottom: 0.5rem;

    .user{
      font-weight: $fw-bold;
      color: $highlight-text-grey;
    }
  }

  .comment-body a:hover{
    color: $main-accent;
    text-decoration: underline;
  }

  .actions a:hover{
    color: $main-accent;
    text-decoration: underline;
  }

  .status{
    text-align: center;

    strong{
      color: $inactive-text-grey;
    }
  }

  &:hover{
    border-left: 4px solid $main-accent !important;
  }
}

.discussions-footer{
  height: rem-calc(70);
  padding: 0 $general-padding;
  border-top: 1px solid $border-grey;
  background-color: #fff;
}

.user-list{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 60%;
  min-height: rem-calc(70);

  .user-avatar{
    width: rem-calc(50);
    height: rem-calc(50);
    margin: 0 rem-calc(10) 0 0;
    overflow: hidden;
    border-radius: rem-calc(25);
    border: 1px solid darken($border-grey, 5);
    -webkit-transform: translate3D(0, 0, 0); // Fixes the border-radius disabling during hover transition

    &:hover, &:active{
      img{
        opacity: 1;
      }
    }

    .user-avatar-picture{
      display: block;
      width: rem-calc(50);
      height: rem-calc(50);
      opacity: 0.5;
      @include transition(opacity 0.3s ease-in-out);
    }

    @include breakpoint(medium down){
      display: none;
    }
  }

  @include breakpoint(medium down){
    justify-content: center;
    max-width: 100%;
  }
}