// --------------------------------------------------------------------------
// Mixins and Functions


// -------------------------------------
// Transitions

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
