// --------------------------------------------------------------------------
// Typography Styles

h1, h2, h3, h4, h5, a, p, li, em, strong, span, time, article{
  font-family: $f-Lato;
  color: $body-text-grey;
}

a{
  @include transition(all 0.3s);
  color: $main-accent;

  &:active{
    color: $main-accent;
  }

  &:visited{
    color: $main-accent;
  }

  &:hover{
    color: $highlight-text-grey;
  }
}

p{
  margin-bottom: $general-padding;
}

strong{
  font-weight: $fw-bold;
}