// --------------------------------------------------------------------------
// Variables


// -------------------------------------
// Colors

$main-accent: #ff6666;

$background-grey: #f0f3f4;
$border-grey: #ededf2;

$highlight-text-grey: #000;
$body-text-grey: #494949;
$inactive-text-grey: #9c9c9c;



// -------------------------------------
// Fonts

$f-Lato: 'Lato', sans-serif;

$fw-regular: 400;
$fw-regular-italic: 400i;
$fw-bold: 700;
$fw-bold-italic: 700i;



// -------------------------------------
// Dimensions / Margins / Padding

$general-padding: 1rem;